@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

main {
  font-family: "Open Sans", sans-serif;
}

header {
  font-family: "Montserrat", sans-serif;
}

p {
  font-size: 0.875rem;
  color: #aaa9a9;
}
