:root {
  /*-----------------------------
      COLORS
  ------------------------------*/
  --primary-color: #25292b;
  --secondary-color: #1f2123;

  /*-----------------------------
      CONTAINERS
  ------------------------------*/

  --inner-container: 56.25rem;

  /*-----------------------------
      BUTTONS
  ------------------------------*/

  button {
    font-size: 0.875rem;
    padding: 0.425rem 1.2rem;
    background: transparent;
    color: white;
    border-color: white;
    opacity: 0.6;
    font-family: "Montserrat", sans-serif;
  }

  button:hover {
    opacity: 1;
  }
}
