:root {
  /*-----------------------------
      COLORS
  ------------------------------*/
  --primary-color: #25292b;
  --secondary-color: #1f2123;

  /*-----------------------------
      CONTAINERS
  ------------------------------*/

  --inner-container: 56.25rem;
}
